.ContryInfoHeader {
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContryInfoHeader-name {
    font-size: 50px;
    color: white;
}
.ContryInfoHeader-flag {
    height: 50px;
}
.CountriesBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CountriesBorder > span, p, .CountryBorderName {
    font-size: 25px;
    color: white;
}
